:root {
    --textColor: rgb(216, 216, 216);
    --fontSize: 1em;
    --gap: 10px;

    --headerHeight: 12.5dvh;
    --headerTemplateColumns: 100%;
    --headerBackground: rgb(34, 34, 34);
    --logoDisplay: none;

    --inputHeight: 35px;

    --itemWidth: 90dvw;
    --itemBackground: rgb(45, 45, 45);

    --background: rgb(85, 85, 85);

    --buttonBackground: rgb(57, 57, 57);
    --buttonBorder: 3px solid rgb(75, 75, 75);
    --buttonShadow: rgb(75, 75, 75);
    --buttonHeight: 35px;
    --buttonWidth: 100px;
    --buttonFontSize: 0.7em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow: hidden;
    user-select: none;
}

body {
    background: var(--background);
    color: var(--textColor);
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    font-size: var(--fontSize);
}

#result-wrap,
#item-wrap,
.item,
#button-wrap,
footer,
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    width: 100vw;
    height: var(--headerHeight);
    background: var(--headerBackground);
    display: grid;
    align-items: center;
    grid-template-columns: var(--headerTemplateColumns);
}

input {
    width: 100%;
    height: var(--inputHeight);
    background: rgb(57, 57, 57);
    border: none;
    font-size: 1em;
    padding: 0 10px;
    color: var(--textColor);
}

input:focus {
    outline: none;
    background: rgb(75, 75, 75);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100dvw;
    height: var(--headerHeight);
    background: var(--headerBackground);
}

#logo {
    white-space: nowrap;
    margin-left: 50px;
    height: auto;
    display: var(--logoDisplay);
    justify-self: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#under-logo {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    color: #4f4f4f;
}

#result-wrap {
    flex-direction: column;
    gap: 10px;
}

#commission-wrap {
    position: absolute;
    top: calc(var(--headerHeight) + var(--gap));
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--gap);
    padding-bottom: var(--gap);
}

#commission-input {
    width: 90%;
}

#item-wrap {
    position: absolute;
    overflow-y: auto;
    flex-direction: column;
    justify-content: start;
    top: calc(var(--headerHeight) + var(--inputHeight) + (var(--gap) * 4));
    height: calc(100dvh - (var(--headerHeight) * 2) - var(--inputHeight) - (var(--gap) * 5));
    gap: var(--gap);
    width: 100dvw;
    transition: background 0.5s ease;
}

#commission-wrap,
.item {
    width: var(--itemWidth);
    background: var(--itemBackground);
}

.inner-wrap {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: var(--gap);
}

.name-label {
    background: #fff;
}

.name-label,
.item-tag {
    width: 100%;
    text-align: center;
}

.item-tag {
    position: sticky;
    top: 0;
    background: var(--itemBackground);
    border-bottom: var(--buttonBorder);
    padding-top: var(--gap);
    padding-bottom: var(--gap);
}

#button-wrap {
    width: var(--itemWidth);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    border-radius: 15px;
    min-width: var(--buttonWidth);
    width: auto;
    color: var(--textColor);
    height: var(--buttonHeight);
    background: var(--buttonBackground);
    border: var(--buttonBorder);
    font-size: var(--buttonFontSize) !important;
    transition: transform 0.25s ease, box-shadow 0.3s ease, background 0.4s ease, border 0.3s ease;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 25px 2px var(--buttonShadow);
}

@media(min-width: 1280px) {
    :root {
        --headerHeight: 9vh;
        --headerTemplateColumns: 1fr 1fr 1fr;
        --logoDisplay: flex;

        --buttonWidth: 150px;
        --buttonHeight: 40px;
        --itemWidth: 60dvw;
    }
}

@media (min-width: 1600px) {
    :root {
        --gap: 15px;
        
        --headerHeight: 7.5dvh;
        
        --buttonWidth: 175px;
        --buttonHeight: 50px;
    }
}

@media(min-width: 2000px) {
    :root {
        --fontSize: 1.3em;
        --gap: 25px;
        
        --buttonWidth: 225px;
        --buttonHeight: 60px;
        --buttonFontSize: 1.1em;
    }
}